<h1>About Ruby LoCo</h1>

<h2>Where Ruby professionals meet the local companies looking for Ruby professionals. And by that, we mean you.</h2>

<p>Ruby LoCo was formed as a Meet Up group in 2012 to gather the great Ruby minds of Loudoun County. We welcome all technologists, but focus our group on discussions relating to Ruby, Rails, JavaScript, and other related web disciplines.</p>

<p>During one particular, pizza and beer induced hazy, hack night we had the brilliant idea to put together a job board site. Yeah, there are others out there, but this one would be ours. And so, RubyLoCo Jobs was born!</p>

<p>Since that night, qualified candidates have been applying for great opportunities at BusyConf, Custom Ink, Sequoia, Rackspace, StickerMule, Simply Binary and many other companies large and small. (Who knows if they actually got the job.)</p>

<h3>You have needs.</h3>
<p>We&#8217;ve got the type of job you&#8217;re looking for. Our filter controls make it easy to narrow your preferences and save them in your account.</p>
<p>For employers, prices start at $99 and vary depending on job type.</p>

<h3>Focused on giving back.</h3>
<p>Giving back is an important part of our culture. We donate .1% of our total monthly revenue to <%= link_to "Unemployed Rubists Hunger Fund", "#" %>. We also offer discounts to educational institutions and Mac users (<%= link_to "contact us", "#" %>).</p>

<h2>You&#8217;ll also find our listings on these fantastic sites.</h2>

<p>Post a listing with us, and it&#8217;ll be featured across our network of partners and advertisers.</p>

<ul>
<li><a href="#"><img src="#" alt="Sequoia" /></a></li>
<li><a href="#"><img src="#" alt="rackspace" /></a></li>
<li><a href="#"><img src="#" alt="BusyConf" /></a></li>
<li><a href="#"><img src="#" alt="CustomInk" /></a></li>
<li><a href="#"><img src="#" alt="stickermule" /></a></li>
<li><a href="#"><img src="#" alt="Simply Binary" /></a></li>
<li><a href="#"><img src="#" alt="Chase McGeary Design" /></a></li>
</ul>
