<h1>Contact Us</h1>

<p>How can we help? Need to enquire about pricing or discounts? Request a refund? Potential partnership? Send us a note and we&rsquo;ll get back to you as promptly as we can. Include your phone number, and we&#8217;ll call&nbsp;you.</p>


<form method="post" action="#" class="contact">
  <fieldset>
    <ul>

      <li>
        <label for="conname">Name</label>
        <div>
          <input type="text" name="conname" id="conname" value="" />
        </div>
      </li>

      <li>
        <label for="conemail">Email address</label>
        <div>
          <input type="email" name="conemail" id="conemail" value="" />
        </div>
      </li>

      <li>
        <label for="conphone">Phone number</label>
        <div>
          <input type="text" name="conphone" id="conphone" value="" title="(Optional)" />
        </div>
      </li>

      <li>
        <label for="concompany">Company</label>
        <div>
          <input type="text" name="concompany" id="concompany" value="" title="(Optional)" />
        </div>
      </li>

      <li>
        <label for="consub">Subject</label>
        <div>
          <input type="text" name="consub" id="consub" value="" />
        </div>
      </li>

      <li>
        <label for="context">Message</label>
        <div>
          <textarea name="context" id="context" rows="11"></textarea>
        </div>
      </li>

    </ul>

  </fieldset>

  <div class="controls">
    <button type="submit" class="button">That was easy!</button>
  </div>

</form>


<h3>Mailing Address</h3>
<p>If you still like to use non-digital mail, send your junk here:</p>
<dl>
<dt>What About Jobs???</dt>
<dd>1600 Pennsylvania Ave NW</dd>
<dd>Washington, DC 20500</dd>
<dd>USA</dd>
</dl>

<h3>Phone</h3>
<p>Need to speak with someone? Our intern loves to get your calls day or night. Call him 24/7.</p>
<dl>
<dt>(900) 909-4300</dt>
</dl>

<h3>Email</h3>
<p>Drop us a line at <%= link_to "ineedajob@rubyloco.com", "#" %></p>

<h3>Twitter</h3>
<p>Send us a note at <%= link_to "@ruby_Loco", "#" %></p>
